<div class="container">

 <br/>
    <% session.each do | name, msg | %>
      <ul>
        
        <li><%= name %></li>
        <li><%= msg %> </li>
        
      </ul>
      <% end %>
  <footer class="footer">
    <small>
      Copyright &copy; Melferium

    </small>
   

  </footer>
</div>