<<<<<<< HEAD
<ul>
<% flash.each do | title, msg | %>
<li> <%= msg %> </li>
<% end %>
</ul>
=======
<%= flash do |title, msg| %>
<p> <% msg %> </p>
<% end %>
>>>>>>> cf9400abfc60e28f41b625f755aadd6e02533abe
